@font-face {
  font-family: 'Ubuntu-Bold';
  src: url("/assets/fonts/Ubuntu-Bold.ttf"); }

@font-face {
  font-family: 'Ubuntu-Regular';
  src: url("/assets/fonts/Ubuntu-Regular.ttf"); }

* {
  font-family: 'Ubuntu-Regular', cursive; }

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: red;
  font-weight: bold;
  font-family: 'Ubuntu-Bold'; }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 42px;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38; }

.big, h4 {
  font-size: 22px;
  line-height: 1.38; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #555;
  border-width: 1px 0 0;
  clear: both;
  margin: 20px 0 10px;
  height: 0; }

a {
  color: white;
  text-decoration: none;
  outline: 0; }

a:hover, a:focus {
  color: white; }

::-moz-selection {
  background: #000;
  color: white; }

::selection {
  background: #000;
  color: white; }

::-moz-selection {
  background: #000; }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #000; }

body {
  background: #CCC;
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Open Sans' sans-serif;
  color: #777777;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

.margin-10 {
  margin-left: 10px;
  margin-right: 10px; }

.section {
  padding: 50px 0px 0px; }

.placepicker-map {
  min-height: 250px; }

/**
  *  Header
  */
.header .container {
  max-width: 100%; }

.header .glyphicon-user {
  color: white; }

.header .navbar-brand {
  padding: 0; }

/*
 *	Searchbox
 */
.searchbox {
  position: relative;
  min-width: 34px;
  width: 0%;
  height: 34px;
  overflow: hidden;
  float: right;
  -webkit-transition: width 0.3s;
          transition: width 0.3s; }

.searchbox-input {
  position: absolute;
  top: 0;
  right: 4px;
  border: 0;
  outline: 0;
  background-color: #dcddd8;
  width: 80%;
  height: 34px;
  margin: 0;
  padding-left: 20px;
  font-size: 16px;
  color: red;
  border-radius: 20px; }
  .searchbox-input::input-placeholder {
    color: #d74b4b; }

.searchbox-icon, .searchbox-submit {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: block;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 34px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: #dcddd8;
  background-color: #444; }

.searchbox-open {
  width: 100%; }

.searchbox-sm {
  margin: 0 14px; }
  .searchbox-sm.searchbox-open > .searchbox-input {
    width: 95%; }

.bg {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  background: url("/assets/img/event-bg.png") no-repeat center center fixed;
  background-size: cover;
  overflow-y: hidden; }

.tiles {
  background-color: #FFF;
  margin: 50px auto 0;
  padding: 20px 30px; }

.seller-create .create-wrapper .btn-file {
  position: relative;
  overflow: hidden; }
  .seller-create .create-wrapper .btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block; }

.seller-create .create-wrapper .create-header {
  margin-bottom: 20px; }

.seller-create .create-wrapper .glyphicon-ticket {
  width: 22px;
  height: 22px;
  background: url("/assets/img/icon-ticketing.svg");
  background-size: contain; }

.seller-create .create-wrapper .step {
  height: 4px;
  width: 24.1%;
  display: inline-block;
  background-color: #ccc; }
  .seller-create .create-wrapper .step.prev {
    background-color: rgba(255, 0, 0, 0.5); }
  .seller-create .create-wrapper .step.active {
    background-color: red; }

.seller-create .create-feature-body ul li {
  margin: 10px 0px 0px; }
  .seller-create .create-feature-body ul li img {
    margin-right: 30px; }
  .seller-create .create-feature-body ul li span {
    font-size: 1.2em; }
